body {
  margin: 0;
  padding: 0;
  /* width: 350px; */
  /* background-color: lightgray; */
  background: url(../bg.jpg) no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  color: darkolivegreen;
  padding: 10px;
}
p {
  margin: 0;
}
.NavLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}
.NavLink--active {
  color: #e84a5f;
}

.login-form {
}
.login-label {
  display: block;
}
