.label {
  margin-top: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px #70ab8f solid;
}
.labelName {
  color: darkolivegreen;
}

.input {
  margin-left: 10px;
  height: 35px;
  border: 2px #70ab8f solid;
  border-radius: 6px;
  margin: auto 0;
  width: 175px;
  padding-left: 10px;
}
.input::placeholder {
  color: lightgrey;
  font-style: italic;
  font-size: 14px;
}

.input:focus {
  outline: none;
  border: 2px solid #3e745b;
  color: darkolivegreen;
}
